<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.callhippo.bueno.callhippo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />


    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher_v2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_v2" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="activity.open.on.notification"
            android:value="com.callhippo.bueno.callhippo.MessageActivity" />

        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".DialerActivity"
            android:configChanges="keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <data android:scheme="tel" />

            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<data android:mimeType="vnd.android.cursor.item/com.callhippo.bueno.callhippo.callhippo_vv"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".OngoingActivity"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true" />
        <activity
            android:name=".IncomingActivity"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true" />
        <activity
            android:name=".EditContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name=".service.IncomingService"
            android:stopWithTask="false" />
        <service
            android:name=".service.OngoingService"
            android:stopWithTask="false" />
        <service
            android:name=".service.LinphoneService"
            android:stopWithTask="false" />

        <receiver android:name=".Utils.NotificationListner">
            <intent-filter>
                <action android:name="button_click" />
            </intent-filter>
        </receiver> <!-- <receiver -->
        <!-- android:name=".service.ServerWakeFullService" android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- &lt;!&ndash; Receives the actual messages. &ndash;&gt; -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <action android:name="com.callhippo.bueno.callhippo.INCOMING_CALL" /> -->
        <!-- <action android:name="android.intent.action.REBOOT" /> -->
        <!-- <category android:name="android.intent.category.VOICE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- Service declared in manifest -->
        <!-- <service android:name=".service.PlivoService" -->
        <!-- android:exported="true" -->
        <!-- android:stopWithTask="true"/> -->
        <!-- [START firebase_service] -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_iid_service] -->

        <activity
            android:name=".Splash_newActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!--            <intent-filter tools:ignore="AppLinkUrlError">-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <data android:mimeType="vnd.android.cursor.item/com.callhippo.bueno.callhippo.callhippo_vvvv"/>-->
<!--            </intent-filter>-->
        </activity>

        <service android:name=".service.SyncService" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>


    </application>

</manifest>